<footer class="container-fluid text-center align-content-center footer pb-2">
  <div class="container pt-5">
    <div class="row">
	  <div class="col-md-4 col-sm-12">
        <h5>💬 <a href="https://signal.org/install/">Signal</a> (preferred): same as ph#</h5>
	  </div>
      <div class="col-md-4 col-sm-12">
        <h5>📞 Phone: <a href="javascript:location='tel:\u0030\u0034\u0033\u0032\u0035\u0030\u0032\u0035\u0031\u0034';void 0">0432502514</a></h5>
      </div>
      <div class="col-md-4 col-sm-12">
        <h5>📧 Email: <a href="javascript:location='mailto:\u0063\u006f\u006e\u0074\u0061\u0063\u0074\u006d\u0065\u0040\u006a\u0077\u0030\u0030\u002e\u006d\u0065';void 0"><script type="text/javascript">document.write('\u0063\u006f\u006e\u0074\u0061\u0063\u0074\u006d\u0065\u0040\u006a\u0077\u0030\u0030\u002e\u006d\u0065')</script></a></h5>
      </div>
	  <div class="col-md-4 col-sm-12">
        <h5>💩 WhatsApp (eww fb): same as ph#</h5>
      </div>      
    </div>
  </div>
  <hr />
</footer>
